*.o
*.lo
*.la
Makefile
Makefile.in
compile
config.guess
config.sub
depcomp
install-sh
configure
config.log
config.status
stamp-h1
missing
.deps
.libs
aclocal.m4
autom4te.cache
config.h
config.h.in
config.h.in~
ltmain.sh
libtool

example/Makefile
example/Makefile.in
example/.deps
example/.dirstamp
example/.libs
example/*.o
example/isp2_example
